```javascript

const {githubUriHttpsParser} = require('github-uri-https-parser');

githubUriHttpsParser('https://github.com/9fv/node-github-uri-https-parser');
# > {"username": "9fv", "repository": "node-github-uri-https-parser"}

```
